body {
   width: 100%;
   font-family: 'Exo 2', sans-serif;
   background-color: white;
}

.createbutton {
   font-size: 16pt;
   font-weight: bold;
}

.btn {
   font-size: 20pt;
}

.sidepics {
   max-height: 100%;
   max-width: 100%;
}

.container {
   width: 100%;
   height: 800px;
   background-color: white;
}

header {
   height: 125px;
   width: 100%;
   text-align: center;
}

p {
  font-size: 16pt; 
}

ul {
   font-size: 16pt;
}

.jumbotron {
   margin-top: 20px;
   background-image: url("https://static.vecteezy.com/system/resources/previews/000/550/698/non_2x/football-player-cartoon-vector.jpg");
   background-repeat: no-repeat;
   background-image: center;
   background-size: 20%;
   background-position: center;
   text-align: center;
   color: rgb(54, 98, 241);
   position: top;
   background-color: white;
   font-family: 'Saira Stencil One', cursive;
}

#arrow {
   max-height: 15%;
   max-width: 15%;
}



.createleague {
   color: darkorange;
}

#submit {
   font-size: 15pt;
}

#reset {
   font-size: 15pt;
}

.down-arrow {
   max-height: 15%;
   max-width: 15%;
}

.headline {
   width: 70%;
   height: 40%;
   text-align: center;
   display: inline-block;
   margin-top: 0 auto;
   

}
.image {
   width: 800px;
   height:250px;
   margin: 0 auto;
}

.placeholder {
   max-height: 40%;
   max-width: 40%;
   align-content: center;
}

.boxleft {
   height: 400px;
   width: 100px;
   border-style: solid;
   margin-left: 12px;
}

.main-text {
   text-align: center;
   margin-left: 300px;

}

footer {
   text-align: center;
   background-color: black;
   color: white;
}


table {
   background: rgb(207, 231, 247);
}

#memberList, #joinNow {
   display: none;
}

.show {
   display: block;
}

#athleteButtons {
   margin-bottom: 30px;
}

#player {
   display:inline-block !important;
}

.form-group {
   font-size: 18pt;
}